.card {
  @apply rounded-xl p-4 shadow-lg dark:shadow-gray-800 shadow-gray-200 bg-background;
}

.shadcn-input-select {
  @apply rounded-lg;
}

.loading-container {
  @apply flex  z-9999 justify-center items-center h-screen w-screen absolute top-0 left-0 right-0 bottom-0 dark:bg-gray-800/70 bg-black/20;
}

.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: rgb(59 130 246);
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: "";
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}
.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 48px;
  }
  100% {
    height: 4px;
  }
}
